#
 version 7.1.064, Release 0427P22
#
 sysname R1
#
 telnet server enable
 telnet server acl 2001
#
ospf 1 router-id 10.1.1.1
 default-route-advertise
 area 0.0.0.0
  network 10.0.0.1 0.0.0.0
  network 10.0.0.14 0.0.0.0
  network 10.1.1.1 0.0.0.0
 area 0.0.0.1
  network 10.0.0.5 0.0.0.0
#
 system-working-mode standard
 xbar load-single
 password-recovery enable
 lpu-type f-series
#
vlan 1
#
interface Serial1/0
#
interface Serial2/0
#
interface Serial3/0
#
interface Serial4/0
#
interface NULL0
#
interface LoopBack0
 ip address 10.1.1.1 255.255.255.255
#
interface GigabitEthernet0/0
 port link-mode route
 combo enable copper
 ip address 10.0.0.5 255.255.255.252
#
interface GigabitEthernet0/1
 port link-mode route
 combo enable copper
 ip address 10.0.0.1 255.255.255.252
#
interface GigabitEthernet0/2
 port link-mode route
 combo enable copper
 ip address 10.0.0.14 255.255.255.252
#
interface GigabitEthernet5/0
 port link-mode route
 combo enable copper
 ip address 202.100.1.0 255.255.255.252
 nat outbound 2000
#
interface GigabitEthernet5/1
 port link-mode route
 combo enable copper
#
interface GigabitEthernet6/0
 port link-mode route
 combo enable copper
#
interface GigabitEthernet6/1
 port link-mode route
 combo enable copper
#
 scheduler logfile size 16
#
line class aux
 user-role network-operator
#
line class console
 user-role network-admin
#
line class tty
 user-role network-operator
#
line class vty
 user-role network-operator
#
line aux 0
 user-role network-operator
#
line con 0
 user-role network-admin
#
line vty 0 4
 authentication-mode scheme
 user-role level-15
 user-role network-operator
#
line vty 5 63
 user-role network-operator
#
 ip route-static 0.0.0.0 0 202.100.1.2
#
acl basic 2000
 rule 0 permit source 192.168.1.0 0.0.0.255
 rule 5 permit source 192.168.2.0 0.0.0.255
#
acl basic 2001
 rule 0 permit source 192.168.2.0 0.0.0.255
#
domain system
#
 domain default enable system
#
role name level-0
 description Predefined level-0 role
#
role name level-1
 description Predefined level-1 role
#
role name level-2
 description Predefined level-2 role
#
role name level-3
 description Predefined level-3 role
#
role name level-4
 description Predefined level-4 role
#
role name level-5
 description Predefined level-5 role
#
role name level-6
 description Predefined level-6 role
#
role name level-7
 description Predefined level-7 role
#
role name level-8
 description Predefined level-8 role
#
role name level-9
 description Predefined level-9 role
#
role name level-10
 description Predefined level-10 role
#
role name level-11
 description Predefined level-11 role
#
role name level-12
 description Predefined level-12 role
#
role name level-13
 description Predefined level-13 role
#
role name level-14
 description Predefined level-14 role
#
user-group system
#
local-user telnet class manage
 password hash $h$6$ylRBYAsoCop8bi6a$DSRxvAAt5IAabhpkLwEdnj7sOtRqaTF5Qr/bfkMhzqxEnht+PGSBVZcBKcCI7mho1DeYma95B8yyxl6X8yaSwA==
 service-type telnet
 authorization-attribute user-role level-15
 authorization-attribute user-role network-operator
#
return
